<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=MININT-C2K4D11;Initial Catalog=dbFagdag;Integrated Security=False;User ID=thunder;Password=Velkomm1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EPiServerCommon" connectionString="Data Source=MININT-C2K4D11;Initial Catalog=dbFagdag;Integrated Security=False;User ID=thunder;Password=Velkomm1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=MININT-C2K4D11;Initial Catalog=dbEPiServerCommerceManager;Integrated Security=False;User ID=thunder;Password=Velkomm1;Connect Timeout=10;Application Name=EPiServerCommerceManager" providerName="System.Data.SqlClient" />
</connectionStrings>