<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>

    <!-- angular -->
    <script src="/assets/lib/angular/angular.min.js"></script>
    <script src="/assets/lib/angular-route/angular-route.min.js"></script>

    <!-- modules -->
    <script src="/app.client.module.js"></script>

    <!-- config -->
    <script src="/config/routes.client.config.js"></script>

    <!-- Index -->
    <script src="/components/overview/overview.client.controller.js"></script>
    <script src="/components/overview/productService.client.service.js"></script>
    <script src="/components/cart/cart.client.controller.js"></script>

    <!-- Login -->
    <script src="/components/login/login.client.controller.js"></script>

    <link rel="stylesheet" href="/style.css">

</head>
<body ng-app="retailApp">

    <header>
        <h1><a ng-href="/#/">Shoebaloo</a></h1>

        <ul>
            <li><a ng-href="/#/cart">Handlekurv</a></li>
        </ul>
    </header>

	<div class="container">
    	<div ng-view></div>
	</div>

</body>
</html>

