<div ng-controller="IndexController as index">

	<article ng-repeat="product in products | limitTo:2" class="product frontpage-top-2">
			<img ng-src="https://raw.githubusercontent.com/Itera/fagdag-januar-2015/master/produkter/{{product.shoeId}}.jpg" alt="Not found">

			<div class="frontpage-product-info">
				<ul>
					<li>{{product.brand}}</li>
					<li>{{product.name}}</li>
					<li>{{product.price}},-</li>
					<li><button ng-click='addProductToCart(product)'>Add to cart</button></li>
				</ul>
			</div>
	</article>

	<article ng-repeat="product in products | slice:2:6" class="product frontpage-bottom-4">
		<img ng-src="https://raw.githubusercontent.com/Itera/fagdag-januar-2015/master/produkter/{{product.shoeId}}.jpg" alt="Not found">

		<div class="frontpage-product-info">
			<ul>
				<li>{{product.brand}}</li>
				<li>{{product.name}}</li>
				<li>{{product.price}},-</li>
				<li><button ng-click='addProductToCart(product)'>Add to cart</button></li>
			</ul>
		</div>
	</article>

</div>
