* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-boz-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* rgb(204, 204, 204) grey */
/* rgb(142, 113, 76) brown */
/* rgb(0, 96, 167) blue */

body {
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.6;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

header {
	padding: 40px;
	display: table;
	width: 100%;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	display: table-cell;
}

h1 a {
	color: #111;
	text-decoration: none;
}

.search-container {
	margin: 0 40px 20px 40px;
}

input[type=text] {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 5px;
}

.product {
	display: inline-block;
	width: 33%;
	padding: 10px;
	position: relative;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.product-info {
	position: absolute;
	z-index: 10;
	background: #fff;
	border: 1px solid #666;
	color: #444;
	right: 20px;
	bottom: 20px;
	padding: 20px;
	width: 50%;
	opacity: .8;
}

.categories {
	display: table-cell;
}

.categories li {
	list-style: none;
	display: inline-block;
}

.categories a {
	margin-right: 2px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	color: #333;
	text-decoration: none;
}

.icon-nav {
	display: table-cell;
	text-align: right;
}

.icon-nav li {
	display: inline-block;
}

.icon-nav a {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: cover;
	margin-left: 10px;
}

.mysite-icon {
	background: url('/img/icons/Login_register.png') no-repeat;
}

.cart-icon {
	background: url('/img/icons/Shopping_bag.png') no-repeat;
}

.search-icon {
	background: url('/img/icons/Search.png') no-repeat;
}

a {
	cursor: pointer;
}

.favorite {
	display: inline-block;
	float: right;
	font-size: 26px;
	cursor: pointer;
	margin-top: -5px;
}

.favorite .active, .favorite:hover {
	color: #ff00ff;
}

.brand-chooser {
	background: #000;
	color: #fff;
	padding: 10px;
}

.brand-chooser strong {
	text-transform: uppercase;
}

.brand-chooser label {
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	float: right;
}

.brand-chooser label input {
	margin-left: 5px;
}

.clearall {
	clear: both;
}

/*Front page*/

.frontpage-top-2 {
	width: 100%;
	position: relative;
	max-height: 100%;
}

.frontpage-bottom-4 {
	width: 50%;
	position: relative;
	float: left;
}

.frontpage-bottom-4 img {
	width: 50%;
}

.frontpage-top-2 img, .frontpage-bottom-4 img {
	max-width: 100%;
	width: 100%;
}

.frontpage-product-info {
	background-color: #ffffff;
	border: 1px solid black;
	width: 300px;
	position: absolute;
	z-index: 2;
	padding: 10px;
	bottom: 4%;
	right: 4%;
}

.frontpage-product-info li {
	list-style: none;
}
