* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-boz-sizing: border-box;
}

/* rgb(204, 204, 204) grey */
/* rgb(142, 113, 76) brown */
/* rgb(0, 96, 167) blue */

body {
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	padding: 40px;
	line-height: 1.6;
}

header {
	padding: 20px;
	display: table;
	width: 100%;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	display: table-cell;
}

h1 a {
	color: #111;
	text-decoration: none;
}

img {
	max-width: 100px;
}

input {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 5px;
	margin-bottom: 20px;
}

.product {
	border: 1px solid #ddd;
	display: inline-block;
	width: 25%;
	padding: 10px;
}

.categories {
	display: table-cell;
}

.categories li {
	list-style: none;
	display: inline-block;
}

.categories a {
	margin-right: 2px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	color: #333;
	text-decoration: none;
}

.icon-nav {
	display: table-cell;
	text-align: right;
}

.icon-nav li {
	display: inline-block;
}

.icon-nav a {
	width: 32px;
	height: 32px;
	background: #000;
	display: inline-block;
}


a {
	cursor: pointer;
}
