// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-list {
  padding: 0;
  width: 70%;

  li {
    overflow: auto;
    list-style-type: none;
    position: relative;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #cccccc;
    background-color: #fafafa;

    img {
      float: left;
      width: 19em;
      margin-right: 1em;
      border: 1px solid #d8d8d8;
      border-radius: 2px;
    }

    .price {
      float: right;
      font-size: 2em;
    }
  }
}

.product {
  img {
    width: 40em;
    float: left;
  }

  .product-properties-table {
    th {
      padding-right: 1em;
    }
  }
}

#cart {
  float: right;
  width: 25%;
}
#cart-inner {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

#cart h3 {
  text-align: center;
}

#cart table {
  width: 100%;
}

select, input {
  padding: 0.4em 1.2em;
  border: 2px solid lighten(#ff8100, 30);
  border-radius: 5px;
  color: white;
  background-color: #ff8100;
}
